body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    background: url('../IMG/lightbulb.jpg') no-repeat;
    background-size: cover;
    
    /* header 90px */
    height: -moz-calc(100% - 90px); /* Firefox */
    height: -webkit-calc(100% - 90px); /* Chrome, Safari */
    height: calc(100% - 90px); /* IE9+ and future browsers */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button {
    display: inline-block;
    padding: 20px 20px;
    color: #004992;
    font-size: 1.25rem;
    margin: 10px;
    border: solid;
    border-radius: 5px;
}

.button:hover {
    background: #004992;
    color: #eeede2;
    border-color: #003c78;
}

.welcome {
    text-align: center;

    margin: 3em;
    padding: 4em;
}

.welcome .button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.welcome p {
    color: black;
    font-size: 28px;
    padding-bottom: 8px;
}

.welcome h1 {
    margin-bottom: 25px;
}

.welcome a {
    margin-top: 40px;
}

@media screen and (max-height: 770px) {
    .welcome {
        margin: 2em;
        margin-bottom: 3em;
        padding: 1em;
    }
}

@media screen and (max-height: 720px) {
    main {
        justify-content: center;
    }

    #welcome-text {
        width: 50%;
        border-radius: 5px;
        background-color: #b0c7deb0;
        padding: 25px;
    }

    .welcome {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3.5em;
    }

    .welcome {
        padding: 0em;
        margin: 2em;

        display: flex;
        justify-content: center;
    }
}