body {
    width: 100vw;
    height: 100vh;
}

main {
    /* header 90px */
    height: -moz-calc(100% - 90px); /* Firefox */
    height: -webkit-calc(100% - 90px); /* Chrome, Safari */
    height: calc(100% - 90px); /* IE9+ and future browsers */

    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}

#start-btn {
    background-color: #004992;
    color: white;

    font-size: 2rem;
    font-weight: bold;

    padding: 20px 25px;
    margin-bottom: 25px;
}

#start-btn:hover {
    transform: scale(1.05);
}

#info-box {
    margin-bottom: 4rem;
    margin-top: 6rem;
    width: 40%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#info-box p {
    text-align: center;
    font-size: 24px;
}

.btn-slider {
    background-color: #eeede28f;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding: 0px 6px;
}

.btn-slider:hover {
    background-color: #eeede2a1;
    color: rgba(0, 0, 0, 0.747);
}

#prev-slide {
    position: absolute;
    top: 43%;
    left: 1%;
  }
  
#next-slide {
    position: absolute;
    top: 43%;
    right: 1%;
}

#slider {
    margin-top: 80px;
    width: 100%;
    max-width: 80%;
    height: 360px;
    position: relative;
    overflow: hidden;
}
  
.slide {
    width: 50%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;

    /* do not start with alone image */
    transform: translateX(200%);
}
  
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1180px) {
    .slide {
        width: 100%;
    }

    #slider {
        width: 65%;
    }
}

@media screen and (max-width: 1100px) {
    .slide {
        width: 100%;
    }

    #slider {
        width: 70%;
    }
}

@media screen and (max-width: 970px) {
    #slider {
        width: 70%;
    }
}


@media screen and (max-height: 900px) {
    #info-box {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    #info-box p {
        font-size: 20px;
    }

    #start-btn {
        font-size: 24px;
    }

    #slider {
        width: 70%;
    }
}

@media screen and (max-height: 640px) {
    #slider {
        margin-top: 2em;
    }
}

@media screen and (max-height: 600px) {
    #slider {
        display: none;
    }

    #info-box {
        margin-top: 4em;
    }
}

